*{
    margin: 0px;
    padding: 0px;
}
.row:before, .row:after{
    content:"";
    display:table;
    clear:both;
    margin: 0px auto;
}
.row-third{
    float:left;
    width:33.33333%;
}
img{
    width: 50%;
}
.row-seventh{
    float:left;
    width:13.555%;
    font-size: 25px;
    font-weight: bold;
    margin: 3px;
    height: 7vh;
    padding-top: 3.5vh
}
.border{
    border:1px solid black;
    font-size:20px;
}
.border-0{
    border:1px solid white;
    font-size:20px;
}
.right-align{
    text-align:right;
}
.center{
    text-align: center;
    align-content: center;
}
.padding-20{
    padding-top:20vh;
}
.red{
    background-color: red;
}
.margin{
    margin: 10px;
}
.blue{
    background-color: #39c;
}
